body {
  font-family: Gelion;
}

/* Breadcrumbs container styling */
.shadow-container {
  box-shadow: 0 1px 4px 0 rgba(139, 139, 139, 0.5);
}

/* Button styles override */
button.bg-primary:disabled {
  opacity: 0.8;
  cursor: default;
}

.button-padding {
  padding: 1rem 4.75rem;
}

/* Table styles */
.table,
.table .table-header,
.table .table-body {
  width: 100%;
  color: #424242;
}

.table .table-header {
  background-color: #f7f7f7;
  font-weight: bold;
}

.table .table-header .custom-table-row,
.table .table-body .custom-table-row {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.table .table-header .custom-table-row,
.table .table-body .custom-table-row {
  padding: 1.25rem;
  margin-top: 0.5rem;
}

.table .table-body .custom-table-row:nth-child(off) {
  background-color: #fff;
}

.table .table-body .custom-table-row:nth-child(even) {
  background-color: #f7f7f7;
}

.table .table-header .custom-table-row .table-header-data,
.table .table-body .custom-table-row .table-row-data {
  display: inline-block;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .table-body .custom-table-row .table-row-data {
  font-size: 14px;
}

.table .table-body .custom-table-row .table-row-data:last-child {
  text-align: right;
}

/* Breadcrumbs style overide */

.breadcrumbs__inner {
  display: flex;
  align-items: center;
}

.breadcrumbs__inner .breadcrumbs__separator {
  padding: 0 4px;
  font-size: 18px;
  font-weight: bolder;
}
